/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strikes,sub,sup,tt,var,b,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

/*
General styles
*/

#fullpage {
  position: absolute;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

h1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5%;
  width: 60%;
  text-align: center;
  font-size: 47pt;
  color: white;
  font-family: 'VT323', monospace;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  line-height: 1.5;
  font-size: 14pt;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 10%;
    height: auto;
}

/*Resize over 1366 width screens*/
@media (min-width: 1366px) {
p {
  font-size:18pt;
  width: 62%;
}

 h1 {
 font-size:56pt;
 width: 66%;
 }

}

/*
Title slide
*/
#intro img {
  margin-top: 35px;
  margin-bottom: 7%;
  width: 40%;
}

#icon img {
        margin-bottom: 40px;
        display: block;
        width: 20%;
        height: auto;
}

#key{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        display: block;
        width: 80px;
        height: auto;
}

#key img{

  width: 100%;
}

/*
Intro Slide
*/
@media (min-width: 1366px) {
#introduction p {
  font-size:18pt;
  width: 50%;
}

 #introduction h1 {
 font-size:56pt;
 width: 56%;
 }

}

/*
Other slides
*/

#afterIntro img {
position: relative;
top: 50%;
left:50%;
margin-top: -150px;
margin-left: -300px;
width: 30%;

}



#economic img{
  display: block;
  width: 10%;
  height: auto;
}

#scenarios p {
  width:60%;
}
@media (min-width: 1366px) {
#scenarios p {
  width: 64%;
  font-size: 20pt;
}
}

#scenarios a, #cables a, #solar a   {
  color: rgb(246, 170, 28);
}

#scenarios img {
  width: 15%;
}



a:hover {
  text-decoration: underline;
}

#aftermath img {
  width: 20%;
}

#solar p {
  width:60%;
}


#aftermath blockquote {
  margin-bottom: 2%;
  background-color: rgb(188,57,8);
  padding: 1em;
  text-align: center;
  color:white;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  line-height: 2;
  font-size: 15pt;
  font-family: 'Playfair Display', serif;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 0 2px 8px -2px #000;
  -webkit-box-shadow: inset 0 2px 8px -2px #000;

}

#end img{
  width: 5%;
}

#end a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: auto;
  text-align: center;
  display: block;
  margin-right: auto;
  width: 50%;
  line-height: 1.2;
  font-size: 16pt;}
}

#end a:hover {
  text-decoration: underline;
}


@media (min-width: 1366px) {
  #solar p {
  width: 64%;
  font-size: 20pt;
}
}

/*
Counter animation
*/

.odometer {
      max-width: 270px;
      height: 1.5em;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.9);
      padding-top: 2px;
      margin: 3em auto;
      display: block;
      background: #222;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: inset 0 2px 8px -2px #000;
      -webkit-box-shadow: inset 0 2px 8px -2px #000;
      box-shadow: inset 0 2px 8px -2px #000;
    }

    .digit {
      font-size: 16pt;
      display: inline-block;
      height: 1em;
      width: 0.59em;
      overflow: hidden;
      padding: 0 0.2em;
    }
    .digit:first-child {
      border-left: none;
    }

    .digit-container {
      line-height: 1em;
      -webkit-animation: slide infinite linear;
      animation: slide infinite linear;
    }

    .digit-one {
      -webkit-animation-duration: 2500ms;
      animation-duration: 2500ms;
    }

    .digit-ten {
      -webkit-animation-duration: 25000ms;
      animation-duration: 25000ms;
    }

    .digit-hundred {
      -webkit-animation-duration: 250000ms;
      animation-duration: 250000ms;
    }

    @-webkit-keyframes slide {
      from {
        -webkit-transform: translateY(-10em);
      }
      to {
        -webkit-transform: translateY(0);
      }
    }
    @keyframes slide {
      from {
        transform: translateY(-10em);
      }
      to {
        transform: translateY(0);
      }
    }
