@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strikes,sub,sup,tt,var,b,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*
General styles
*/

#fullpage {
  position: absolute;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

h1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1vh;
  margin-bottom: 8vh;
  width: 80%;
  text-align: center;
  font-size: 8vmin;
  color: white;
  font-family: 'VT323', monospace;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  line-height: 1.5;
  font-size: 3vmin;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 10%;
    height: auto;
}

blockquote {
  margin-bottom: 2%;
  background-color: rgb(188,57,8);
  padding: 10px;
  text-align: center;
  color:white;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  line-height: 2;
  font-family: 'Playfair Display', serif;
  font-size: 2.8vmin;
  border-radius: 10px;
}

.key{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: 2vh;
        left: 50%;
        transform: translate(-50%,-50% );
        -ms-transform: translate(-50%,-50%); /* IE 9 */
        -webkit-transform: translate(-50%,-50%); /* Safari */
        display: block;
        width: 12vmin;
        height: auto;
}

.key img{
  width: 100%;
}


/*
Title slide
*/
#intro img {
  margin-top: 30px;
  margin-bottom: 7%;
  width: 40%;
}


#icon img {
        margin-bottom: 40px;
        display: block;
        width: 25%;
      }

/*
Other slides
*/
#afterIntro img {
  width: 100%;
}

.aftermath-img {
position: relative;
top: 40%;
left:50%;
width: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%,-50%); /* IE 9 */
-webkit-transform: translate(-50%,-50%); /* Safari */
}

#afterIntro .key {
  left: 8.3333%;
}

#solar .key {
  left: 90%;
}

#scenIntro .key {
 left: 10%;
}

#scenarios a, #cables a, #solar a   {
  color: rgb(246, 170, 28);
}

#scenarios img {
  width: 15%;
}

#aftermath img {
  width: 20%;
}

#end a {
  font-weight: bold;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: auto;
  text-align: center;
  display: block;
  margin-right: auto;
  width: 80%;
  line-height: 1.2;
  font-size: 4.5vmin;
}

/* Mobile optimization */
@media (max-width: 360px) {
  p {
    font-size: 3.5vmin;
  }
  #economic p {
    font-size: 3.1vmin;
  }

  .key {
    display: none;
  }

  #intro img {
    width: 80%;
  }

}

/*******************************/
/*         ANIMATIONS          */
/*******************************/

.git-end img{
  margin-top: 5%;
  width: 16vmin;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
}
.git-end img{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


/*
Counter animation
*/
.odometer {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4vh;
      max-width: 270px;
      height: 22px;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.9);
      padding: 2px;
      background: black;
      border-radius: 2px;
      box-shadow: inset 0 2px 8px -2px #000;
    }

.digit {
      font-size: 16pt;
      display: inline-block;
      height: 1em;
      width: 0.59em;
      overflow: hidden;
      padding: 0 0.2em;
    }

    .digit:first-child {
      border-left: none;
    }

    .digit-container {
      line-height: 1em;
      -webkit-animation: slide infinite linear;
      animation: slide infinite linear;
    }

    .digit-one {
      -webkit-animation-duration: 2500ms;
      animation-duration: 2500ms;
    }

    .digit-ten {
      -webkit-animation-duration: 25000ms;
      animation-duration: 25000ms;
    }

    .digit-hundred {
      -webkit-animation-duration: 250000ms;
      animation-duration: 250000ms;
    }

    @-webkit-keyframes slide {
      from {
        -webkit-transform: translateY(-10em);
      }
      to {
        -webkit-transform: translateY(0);
      }
    }
    @keyframes slide {
      from {
        transform: translateY(-10em);
      }
      to {
        transform: translateY(0);
      }
    }

    /*
    Thanks to:
    https://css-tricks.com/glitch-effect-text-images-svg/
    */

    /*
      (IMAGE) PARAMS
      =================
      @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
      =================
      1. Namespace
      2. Intensity
      3. Width (px)
      4. Height (px)
      5. Top (px, abs pos)
      6. Left (px, abs pos)
    */

    @keyframes example-three-anim-1 {
      0% {
        clip: rect(24px, 100px, 97px, 0);
      }
      6.66667% {
        clip: rect(15px, 100px, 46px, 0);
      }
      13.33333% {
        clip: rect(3px, 100px, 37px, 0);
      }
      20% {
        clip: rect(35px, 100px, 62px, 0);
      }
      26.66667% {
        clip: rect(25px, 100px, 4px, 0);
      }
      33.33333% {
        clip: rect(1px, 100px, 90px, 0);
      }
      40% {
        clip: rect(47px, 100px, 64px, 0);
      }
      46.66667% {
        clip: rect(25px, 100px, 17px, 0);
      }
      53.33333% {
        clip: rect(58px, 100px, 86px, 0);
      }
      60% {
        clip: rect(69px, 100px, 95px, 0);
      }
      66.66667% {
        clip: rect(60px, 100px, 2px, 0);
      }
      73.33333% {
        clip: rect(47px, 100px, 31px, 0);
      }
      80% {
        clip: rect(88px, 100px, 7px, 0);
      }
      86.66667% {
        clip: rect(93px, 100px, 17px, 0);
      }
      93.33333% {
        clip: rect(35px, 100px, 14px, 0);
      }
      100% {
        clip: rect(3px, 100px, 63px, 0);
      }
    }
    @keyframes example-three-anim-2 {
      0% {
        clip: rect(91px, 100px, 86px, 0);
      }
      6.66667% {
        clip: rect(4px, 100px, 85px, 0);
      }
      13.33333% {
        clip: rect(75px, 100px, 60px, 0);
      }
      20% {
        clip: rect(9px, 100px, 83px, 0);
      }
      26.66667% {
        clip: rect(23px, 100px, 72px, 0);
      }
      33.33333% {
        clip: rect(45px, 100px, 6px, 0);
      }
      40% {
        clip: rect(16px, 100px, 60px, 0);
      }
      46.66667% {
        clip: rect(67px, 100px, 29px, 0);
      }
      53.33333% {
        clip: rect(85px, 100px, 77px, 0);
      }
      60% {
        clip: rect(26px, 100px, 77px, 0);
      }
      66.66667% {
        clip: rect(49px, 100px, 61px, 0);
      }
      73.33333% {
        clip: rect(35px, 100px, 86px, 0);
      }
      80% {
        clip: rect(3px, 100px, 19px, 0);
      }
      86.66667% {
        clip: rect(63px, 100px, 30px, 0);
      }
      93.33333% {
        clip: rect(82px, 100px, 91px, 0);
      }
      100% {
        clip: rect(92px, 100px, 96px, 0);
      }
    }

    .anim-wrap img {
      position: absolute;
      display: inline;
      height: 100px;
      top: 70%;
      width: 100px;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%,-50%); /* IE 9 */
      -webkit-transform: translate(-50%,-50%); /* Safari */
    }


    .anim-wrap > img:nth-child(2), .anim-wrap > img:nth-child(3) {
      clip: rect(0, 0, 0, 0);
    }
    .anim-wrap > img:nth-child(2) {

      animation: example-three-anim-1 2s infinite linear alternate-reverse;
    }
    .anim-wrap > img:nth-child(3) {
      animation: example-three-anim-2 3s infinite linear alternate-reverse;
    }
